/* HEADER */ 

/* Top Header */
header .info-box .box-map{
    transform: translateY(.2rem);
}

header .info-box .box-acert{
    transform: translate(-.6rem, .2rem);
}

header .info-box .box-acert svg{
    width: clamp(.5rem, 1.3vw, 3vh) !important;
}

header .box-text span, header .box-text a{
    color: #fff;
    font-size: clamp(.6rem, .8rem, 1.6vw);
    line-height: 2;
    text-decoration: none;
}

/* Logotipo */

.box-logo{
    width: 80%;
    margin: 0 auto;
}

.box-logo img{
    width: 100%;
    margin: 0 15%;
}

/* Navabar */

ul.navbar{
    list-style: none;
    padding-left: 0;
    padding-right: 0;
    margin: 3.5vh 0 auto 0;
}

.navbar li a{
    color: #343a40;
    font-size: clamp(.5rem, 2vw, 3vh);
    text-decoration: none;
    padding-bottom: 1vh;
    transition: all .2s linear;
    transform: border-bottom;
    border-bottom: 4px solid transparent;
}

.navbar li:hover a{
    color: #BD134C;
    border-bottom: 3px solid #BD134C;
    font-size: clamp(1.5rem, 2rem, 3vh);
    padding-left: .2vw;
    padding-right: .2vw;
}

header .navbar-toggle{
    margin: 2% 10% 0 0;
}

/* Button Action */ 

header .box-button{
    margin-top: 0;
    transform: translateY(calc(50% + 3vh));
}

header .box-button a{
    font-size: clamp(1rem, .8rem, 1.4rem);
    font-style: italic;
    color: #fff;
    background-color: #840731;
    padding: 1.5vh 3.5vw;
    transition: font-size .3s !important;
}

header .box-button a:hover{
    text-decoration: none;
    color: #fff;
    background-color: #BD134C;
    font-size: clamp(.7rem, 1.3rem, 1.7rem);
    font-style: italic;
    padding: 1.5vh 3.5vw;
}