


/* SECTION MAIN */ 

.background-m1{
    background: url("../../../img/carousel1.jpg") no-repeat center center scroll;
    background-size: cover;
}

.background-m2{
    background: url("../../../img/carousel2.jpg") no-repeat center center scroll;
    background-size: cover;
}

.background-m3{
    background: url("../../../img/carousel3.jpg") no-repeat center center scroll;
    background-size: cover;
}


/* TITLE */ 

.layer{
    padding: 22vh 0 10vh 0;
    background-color: rgba(0, 0, 0, 0.527);
    transition: background-color .5s;
}

.layer:hover{
    background-color: rgba(0, 0, 0, 0.685);
}

.layer h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: clamp(5rem, 7vw, 8rem);
    font-weight: 900;
    letter-spacing: 1vw;
}

.layer .box-button{
    margin-top: 0;
    width: clamp(30vw, 40vw, 20rem);
    text-align: center;
    margin: 0 auto;
    transition: transform .5s !important;
}

.layer .box-button:hover{
    transform: scale(1.1);
}

.layer .box-button a{
    color: #fff;
    font-size: clamp(.5rem, 1rem, 3vw) !important;
    padding: 3vh 2vw !important;
}

.layer .box-button:hover a{
    color: #fff;
    text-decoration: none;
    background-color: #BD134C !important;
}


.layer .box-button a svg{
    width: clamp(.5rem, 2.3rem, 3vw);
    transform: translate(.3rem,.5vh);
}
