
/* FOOTER */ 

footer .box-text p{
    font-size: clamp(.5rem, .8rem, 1vw);
}

footer .box-title{
    font-family: "Josefin Sans", Sans-serif;
    margin: 4vh 0;
}

footer .box-title h5{
    font-size: clamp(1rem, 1.2rem, 2.5vw);
    font-weight: 300;
    letter-spacing: .6vw;
}


footer .box-title-2 h6{
    color: rgb(65, 65, 65) !important;
    font-weight: 600;
    letter-spacing: .2vw;
}

footer .box-action a{
    display: block;
    color: rgb(27, 27, 27);
    letter-spacing: .2vw;
    margin: 1vh 0;
    text-decoration: none;
}


footer .box-text p {
    color: #575757;
    font-size: clamp(.5rem, .8rem, 1vw);
}

/* Newslatter */

.newslatter .box-text p{
    color: #fff;
    font-size: clamp(.8rem, 1rem, 1.2vw);
}

.newslatter .box-button{
    margin-top: 3vh !important;
    text-align: left;
}

.newslatter .box-button button{
    background: #fff;
    color: #840731;
    font-weight: 700;
}

.newslatter .box-button button{
    outline-style: none;
}

.icon-social{
    display: flex;
    justify-content: center;
}

.icon-social svg{
    color: #fff;
    width: clamp(3vw, 6vw, 8vh);
    height:  clamp(3vw, 6vw, 8vh);
}


footer .input-group input[type="radio"]{
    width: 10%;
}

footer .input-group input[type="radio"] ~ span{
    width: 80%;
    font-size: .7rem;
    color: #fff;
}

footer .input-group input[type="radio"] ~ span a{
    color: #fff;
    text-decoration: underline;
}
