/*  fadeIn */ 

@-webkit-keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.fade-in {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

[data-action]{
    opacity: 0;
}


/*  fadeInUp */ 


@-webkit-keyframes fadeInUp {
    from {
        opacity:0;
        -webkit-transform: translatey(80px);
        -moz-transform: translatey(80px);
        -o-transform: translatey(80px);
        transform: translatey(80px);
    }
    to {
        opacity:1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}
@-moz-keyframes fadeInUp {
    from {
        opacity:0;
        -webkit-transform: translatey(80px);
        -moz-transform: translatey(80px);
        -o-transform: translatey(80px);
        transform: translatey(80px);
    }
    to {
        opacity:1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}
@keyframes fadeInUp {
    from {
        opacity:0;
        -webkit-transform: translatey(80px);
        -moz-transform: translatey(80px);
        -o-transform: translatey(80px);
        transform: translatey(80px);
    }
    to {
        opacity:1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}
.in-up {
    -webkit-animation-name: fadeInUp;
    -moz-animation-name: fadeInUp;
    -o-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}


/*  fadeInDown */ 


@-webkit-keyframes fadeInDown {
    from {
        opacity:0;
        -webkit-transform: translatey(-50px);
        -moz-transform: translatey(-50px);
        -o-transform: translatey(-50px);
        transform: translatey(-50px);
    }
    to {
        opacity:1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}
@-moz-keyframes fadeInDown {
    from {
        opacity:0;
        -webkit-transform: translatey(-50px);
        -moz-transform: translatey(-50px);
        -o-transform: translatey(-50px);
        transform: translatey(-50px);
    }
    to {
        opacity:1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}
@keyframes fadeInDown {
    from {
        opacity:0;
        -webkit-transform: translatey(-50px);
        -moz-transform: translatey(-50px);
        -o-transform: translatey(-50px);
        transform: translatey(-50px);
    }
    to {
        opacity:1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}
.in-down {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
}


/** fadeInLeft **/

@-webkit-keyframes fadeInLeft {
    from {
        opacity:0;
        -webkit-transform: translatex(-80px);
        -moz-transform: translatex(-80px);
        -o-transform: translatex(-80px);
        transform: translatex(-80px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(-80px);
        -moz-transform: translatex(-80px);
        -o-transform: translatex(-80px);
        transform: translatex(-80px);
    }
}
@-moz-keyframes fadeInLeft {
    from {
        opacity:0;
        -webkit-transform: translatex(-80px);
        -moz-transform: translatex(-80px);
        -o-transform: translatex(-80px);
        transform: translatex(-80px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
@keyframes fadeInLeft {
    from {
        opacity:0;
        -webkit-transform: translatex(-80px);
        -moz-transform: translatex(-80px);
        -o-transform: translatex(-80px);
        transform: translatex(-80px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
.in-left {
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: .6s;
    -moz-animation-duration: .6s;
    -o-animation-duration: .6s;
    animation-duration: .6s;
    -webkit-animation-delay: .6s;
    -moz-animation-delay: .6s;
    -o-animation-duration: .86s;
    animation-delay: .6s;
}

/** fadeInRight **/

@-webkit-keyframes fadeInRight {
    from {
        opacity:0;
        -webkit-transform: translatex(80px);
        -moz-transform: translatex(80px);
        -o-transform: translatex(80px);
        transform: translatex(80px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
@-moz-keyframes fadeInRight {
    from {
        opacity:0;
        -webkit-transform: translatex(80px);
        -moz-transform: translatex(80px);
        -o-transform: translatex(80px);
        transform: translatex(80px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
@keyframes fadeInRight {
    from {
        opacity:0;
        -webkit-transform: translatex(80px);
        -moz-transform: translatex(80px);
        -o-transform: translatex(80px);
        transform: translatex(80px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
.in-right {
    -webkit-animation-name: fadeInRight;
    -moz-animation-name: fadeInRight;
    -o-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: .6s;
    -moz-animation-duration: .6s;
    -o-animation-duration: .6s;
    animation-duration: .6s;
    -webkit-animation-delay: .6s;
    -moz-animation-delay: .6s;
    -o-animation-duration: .86s;
    animation-delay: .6s;
}


/** fadeInbottom-left **/

@-webkit-keyframes fadeInBottomLeft {
    from {
        opacity:0;
        -webkit-transform-origin:right bottom;
        -moz-transform-origin:right bottom;
        -o-transform-origin:right bottom;
        transform-origin:right bottom;
        -webkit-transform: rotate3d(0,0,1,-90deg);
        -moz-transform: rotate3d(0,0,1,-90deg);
        -o-transform: rotate3d(0,0,1,-90deg);
        transform: rotate3d(0,0,1,-90deg);
    }
    to {
        opacity:1;
        -webkit-transform-origin:right bottom;
        -moz-transform-origin:right bottom;
        -o-transform-origin:right bottom;
        transform-origin:right bottom;
        -webkit-transform: rotate3d(0,0,0,0deg);
        -moz-transform: rotate3d(0,0,0,0deg);
        -o-transform: rotate3d(0,0,0,0deg);
        transform: rotate3d(0,0,0,0deg);
    }
}
@-moz-keyframes fadeInBottomLeft {
    from {
        opacity:0;
        -webkit-transform-origin:right bottom;
        -moz-transform-origin:right bottom;
        -o-transform-origin:right bottom;
        transform-origin:right bottom;
        -webkit-transform: rotate3d(0,0,1,-90deg);
        -moz-transform: rotate3d(0,0,1,-90deg);
        -o-transform: rotate3d(0,0,1,-90deg);
        transform: rotate3d(0,0,1,-90deg);
    }
    to {
        opacity:1;
        -webkit-transform-origin:right bottom;
        -moz-transform-origin:right bottom;
        -o-transform-origin:right bottom;
        transform-origin:right bottom;
        -webkit-transform: rotate3d(0,0,0,0deg);
        -moz-transform: rotate3d(0,0,0,0deg);
        -o-transform: rotate3d(0,0,0,0deg);
        transform: rotate3d(0,0,0,0deg);
    }
}
@keyframes fadeInBottomLeft {
    from {
        opacity:0;
        -webkit-transform-origin:right bottom;
        -moz-transform-origin:right bottom;
        -o-transform-origin:right bottom;
        transform-origin:right bottom;
        -webkit-transform: rotate3d(0,0,1,-90deg);
        -moz-transform: rotate3d(0,0,1,-90deg);
        -o-transform: rotate3d(0,0,1,-90deg);
        transform: rotate3d(0,0,1,-90deg);
    }
    to {
        opacity:1;
        -webkit-transform-origin:right bottom;
        -moz-transform-origin:right bottom;
        -o-transform-origin:right bottom;
        transform-origin:right bottom;
        -webkit-transform: rotate3d(0,0,0,0deg);
        -moz-transform: rotate3d(0,0,0,0deg);
        -o-transform: rotate3d(0,0,0,0deg);
        transform: rotate3d(0,0,0,0deg);
    }
}
.in-bottom-left {
    -webkit-animation-name: fadeInBottomLeft;
    -moz-animation-name: fadeInBottomLeft;
    -o-animation-name: fadeInBottomLeft;
    animation-name: fadeInBottomLeft;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-duration: 1s;
    animation-delay: 1s;
}


/* 
    Bootstrap 
*/

.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: .5s;
    transition-property: opacity;
   }
   
   .carousel-fade  .carousel-item.active,
   .carousel-fade  .carousel-item-next.carousel-item-left,
   .carousel-fade  .carousel-item-prev.carousel-item-right {
     opacity: 1;
   }
   
   .carousel-fade .active.carousel-item-left,
   .carousel-fade  .active.carousel-item-right {
    opacity: 0;
   }
   
   .carousel-fade  .carousel-item-next,
   .carousel-fade .carousel-item-prev,
   .carousel-fade .carousel-item.active,
   .carousel-fade .active.carousel-item-left,
   .carousel-fade  .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
   }