/* SECOND SECTION */ 

.to-carousel-produtcs h2{
    color: #fff !important; 
    font-size: clamp(1rem, 3rem, 3.5vw) !important;
    text-align: center;
    letter-spacing: 1vw;
    line-height: 1.2;
}


/* PRODUCT SECTION */

.to-product-header h2{
    font-family: "Josefin Sans", Sans-serif;
    text-align: center;
    color: #840731;
    font-size: clamp(2.5rem, 3rem, 4vw) !important;
    font-weight: 400;
    letter-spacing: 1vw;
}

.box-categ{
    margin: 0 auto;
}

.box-categ .info-box{
    display: block;
    background-color: #840731;
    padding: 4vh 3vw;
}

.box-categ .info-box:hover{
    background-color: #BD134C;
    cursor: pointer;
}

.box-categ .box-icon{
    text-align: center;
    margin-bottom: 2vh;
}

.box-categ .box-icon svg{
    color: #fff;
    width: clamp(1rem, 5rem, 9vw);
    height: clamp(1rem, 5rem, 9vh);
}

.box-categ .box-text{
    text-align: center;
}

.box-categ .box-text{
    color: #fff;
    font-size: clamp(1rem, 2.5rem, 1.5vw);
}

.box-categ button{
    background-color: transparent;
    border: none;
}

/* CONTAINER PRODUCT */ 

.box-product {
    width: 120%;
}

.box-product .info-box{
    background-color: #fff;
    width: 300px;
    border-radius: 10px;
    text-align: center;
}



/* BOX IMG */ 


.box-product .box-img{
    box-sizing: border-box;
    transition: background-color .5s;
}

.box-product .box-img img{
    width: 100%;
    height: 330px;
    object-fit: cover;
    margin: 0 auto;
    transition: filter .5s;
}

.box-product .box-img:hover{
    background-color: rgba(0, 0, 0, 0.29);
}

.box-product .box-img:hover img{
    filter: brightness(71%);
}

[data-settings]{
    display: none;
}

[data-settings]:nth-child(1){
    display: block;
}

.off{
    display: none !important;
    
}

.on{
    display: block !important;
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: .4s;
    -moz-animation-duration: .4s;
    -o-animation-duration: .4s;
    animation-duration: .4s;
    animation-fill-mode: forwards;
}

/* TITLE */ 
.box-title .separador{
    padding: 0 10px;
}

/* BOX SIZE */ 

.box-sizes{
    display: flex;
    padding: 0 15px;
}

.size{
    border: 1.5px solid #840731;
    padding: 5px 10px;
    margin: 0 auto;
    border-radius: 5px;
    cursor: help;
}


.boll{
    font-size: 12px;
    visibility: hidden;
    font-weight: 700;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.959);
    color: #BD134C;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.box-sizes:hover  .boll{
    visibility: visible;
}

.exists{
    background-color: #BD134C;
    color: #fff;
}

/* BOX END */ 

.box-end{
    display: flex;
    background-color: #840731;
    padding: 10px 0 10px 25px;
    border-radius: 0 0 10px 10px;
}

.value input{
    width: 40px;
    text-align: center;
    border-radius: 5px;
    border: none;
}

.btn-add{
    display: flex;
    padding-top: 5px;
    margin-left: 10px;
}


.btn-add input::-webkit-outer-spin-button,
.btn-add input::-webkit-inner-spin-button {
    opacity: 1 !important;
}

.btn-add svg{
    color: #fff;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    cursor: pointer;
}

.btn-add button{
    font-size: 16px;
    color: #fff;
    border: none;
    background-color: transparent;
    padding: 0;
}
.btn-add button:focus, .value input:focus{
    outline-style: none;
}


/* FOURTH SECTION */

.to-campaign h1{
    font-size: clamp(2rem, 3rem, 4.5vw);
}

.to-campaign .box-text p{
    font-size: clamp(.5rem, 1rem, 1.2vw);
}


.to-left{
    width: 45%;
    cursor: pointer;
    transition: transform .5s;
}

.to-left:hover {
    transform: scale(1.1) !important;
}   

.to-left .button{
    display: inline;
    float: left;
    background-color: #840731;
    padding: 2vh 1vw;
    transition: background-color .5s, padding .5s;
}


.to-left .button:hover{
    background-color: #BD134C;
    
}

.to-left .button a{
    color: #fff;
    font-size: clamp(.9rem, 1rem, 1.3vw)
}    

.to-left .button:hover a{
    background-color: #BD134C;
    border: none;
    color: #fff;
    text-decoration: none;
}

.to-left .button a svg{
    transform: translateY(.2rem);
}

.to-left .button .box-text{
    color: #fff;
}
