@media (min-width: 1550px){
    .ousada_development-box .ousada_development-bloc-logo{
        width: 55%;
    }
    sidebar.sidebar-active .ousada_development-navbar nav ul li:nth-of-type(1) a svg, sidebar.sidebar-active .ousada_development-navbar nav ul li:nth-of-type(2) a svg{
        width: 35px;
    }
    .ousada_development-table table tr td a svg{
        width: 25%;
    }

    section.content-info{
        width: 83%;
        margin-left: 310px;
    }
}

@media (max-width: 790px){
    header .ousada_development-bloc:nth-of-type(2){
        display: none;
    }
    header .ousada_development-box .ousada_development-bloc:nth-of-type(3){
        width: 55%;
    }
    header .ousada_development-box .ousada_development-bloc-search-input{
        width: 80%;
        margin: 3% auto 2%;
    }
    header .ousada_development-box .ousada_development-bloc:nth-of-type(4){
        display: flex;
        justify-content: space-around;
    }
    header .ousada_development-bloc-notify, header .ousada_development-bloc-mob {
        width: 40%;
        display: block;
    }
    header .ousada_development-bloc-notify .ousada_development-bloc-notify-icon{
        width: 45%;
        margin: 19% auto 0;
    }
    header .ousada_development-bloc-mob .ousada_development-bloc-mob-sidebar{
        width: 48%;
        color: var(--cor-default);
        margin-top: 16%;
    }
    sidebar{
        width: 0%;
        overflow: hidden;
        transition: all .6s ease-in-out;
    }
    sidebar.sidebar-mob-active{
        width: 100%;
    }
    sidebar .ousada_development-bloc{
        margin-top: 130px;
    }
    sidebar .ousada_development-navbar{
        margin-top: 0%;
    }
    sidebar .ousada_development-navbar nav ul{
        width: 325px;
        margin: 17% auto 0
    }

    /* SECTION */
    section.content-info{
        width: 95%;
        margin: 10% auto 0;
    }
    section .ousada_development-status .ousada_development-tags{
        width: 70%;
    }
    section .ousada_development-table table tr th{
        font-size: 0.8rem;
    }
    section .ousada_table-box-info-name h4, section .ousada_table-box-info-preco p{
        margin: 0;
    }
}

@media (max-width: 550px){
    header .ousada_development-box .ousada_development-bloc-logo{
        width: 100%;   
    }
    header .header .ousada_development-box .ousada_development-bloc-search-input{
        margin: 5% auto 5%;
    }
    header .ousada_development-box .ousada_development-bloc-search-input input{
        height: 33px;
    }
    header .ousada_development-bloc-notify .ousada_development-bloc-notify-icon, header .ousada_development-bloc-mob .ousada_development-bloc-mob-sidebar{
        width: 90%;
    }

    /* SECTION */ 
    section.content-info{
        margin: 19% auto 0;
    }
    section .ousada_development-status{
        flex-wrap: wrap;
    }
    section .ousada_development-status .ousada_development-qtd{
        width: 100%;
        text-align: center;
    }
    section .ousada_development-qtd .ousada_development-qtd-text span{
        padding: 3% 6%;
    }
    section .ousada_development-status .ousada_development-tags{
        width: 100%;
        margin-top: 9%;
    }
    section .ousada_development-table{
        display: none;
    }

    section .ousada_development-mob{
        display: block;
    }
    section .ousada_development-mob-list ul {
        list-style: none;
        padding: .5rem;
    }
    section .ousada_development-mob-list ul li{
        background: #fff;
        display: flex;
        padding: 3%;
        border-radius: 1rem;
        box-shadow: 0 0 2px;
        margin-bottom: 8%;
    }
    section .ousada_development-mob-list ul li input{
        width: 20px;
        height: 20px;
    }
    section .list--mob-box{
        display: flex;
    }
    .cliente-area  .list--mob-box{
        width: 83%;
    }
    section .list--mob-select-input{
        transform: translateX(-5px);
    }
    section .list--mob-box .list--mob-box-img{
        width: 50%;
    }
    section .list--mob-box .list--mob-box-infos{
        padding-left: 15px;
    }
    section .list--mob-box .list--mob-box-infos-describe p{
        line-height: 1.5;
        font-size: .8rem;
    }
    .cliente-area .list--mob-box .list--mob-box-infos-describe p{
        font-size: .9rem;
    }
    .cliente-area  .list--mob-select{
        width: 14%;
        margin-top: 2%;
    }
    .cliente-area .list--mob-select-icon{
        width: 100%;
        box-shadow: 0 0 2px black;
        padding: 10%;
        
    }
    .cliente-area  .list--mob-select-icon:first-of-type{
        margin-bottom: 14%;
        
    }
    .cliente-area  .list--mob-select-icon svg{
        color: var(--cor-default);
        
    }
    
    .modal .modal-content{
        width: 100%;
    }
    .modal .input-box input[type="file"]{
        width: 100%;
    }
}