:root{
    --cor-default: #840731a8;
    --sombreado-borda: 2px solid #9e9e9e73;
    --animation-sidebar: all .3s ease-in-out; 
}

a{
    text-decoration: none;
    border: none;
}

@media (min-width: 1200px){
    .container {
        max-width: 1440px !important;
    }
}

.ousada_development-collum{
    padding: 0 !important;
}

.sidebar-active{
    
}

.sidebar-active-menu{
    background: var(--cor-default);
    color: #ffff;
    font-weight: 600;
}

.sidebar-active-menu svg, a.sidebar-active-menu {
    color: #fff !important;
}