.content-info{
    width: 77%;
    margin-left: 295px;
    margin-top: 9%;
    transition: var(--animation-sidebar);
}
.content-main{
    padding-bottom: 10%;
}
.ousada_development-status{
    display: flex;
    padding-top: 2%;
}
.ousada_development-status .ousada_development-qtd{
    width: 30%;
}

.ousada_development-qtd .ousada_development-qtd-text span{
    background: #fff;
    padding: 4% 6%;
    border-radius: 2rem;
    box-shadow: 0 0 3px black;
}

.ousada_development-status .ousada_development-tags{
    width: 51%;
    display: flex;
    justify-content: space-around;
}

.ousada_development-tags .ousada_development-tags-item{
    background: #fff;
    padding: 1% 4%;
    border-radius: .5rem;
    box-shadow: 0 0 3px black;
    cursor: pointer;
}

.ousada_development-tags-item span{
    font-weight: 700;
}
@media (max-width: 550px){
    .ousada_development-tags .ousada_development-tags-item span{
        font-size: .8rem;
    }
}




/* BODY */

.ousada_development-table{
    padding-right: 1%;
    margin-top: 5%;
}

.ousada_development-table table{
    width: 100%;
    background: #fff;
    border-radius: 1rem;
}

.ousada_development-table table tr th{
    text-align: center;
    padding: 1% 0;
    border-bottom: 2px solid #80808017;
}

.ousada_development-table table tr th:nth-of-type(1), .ousada_development-table table tr th:nth-of-type(5){
    width: 10%;
}

.ousada_development-table table tr th:nth-of-type(2){
    width: 40%;
    padding: 1% 2%;
}

.cliente-area .ousada_development-table table tr th:nth-of-type(2){
    width: 20%;
}


.ousada_development-table table tr th:nth-of-type(3), .ousada_development-table table tr th:nth-of-type(4) {
    width: 20%;
}

.cliente-area .ousada_development-table table tr th:nth-of-type(4){
    width: 20%;
}

.cliente-area .ousada_development-table table tr th:nth-of-type(5){
    width: 20%;
}


.ousada_development-table table tr:nth-child(even){
    background-color: var(--cor-default);
    color: #fff;
}
.ousada_development-table table tr:nth-child(even) td svg{
    color: #fff;
}


.ousada_development-table table tr td{
    text-align: center;
}
.ousada_development-table table tr td:nth-of-type(2){
    text-align: left;
}

.ousada_development-table table tr .ousada_table-box{
    display: flex;
}
.ousada_development-table table tr td .ousada_table-box-info{
    width: 80%;
    padding: 3%;
}

.ousada_development-table table tr td p{
    margin: 0.2rem 0;
}
.ousada_development-table table tr td h4{
    margin: 0.2rem 0 .5rem;
}
.ousada_development-table table tr td span{
    font-size: 0.9rem;
}

.ousada_development-table table tr td a svg{
    color: var(--cor-default);
    width: 45%;
}
.ousada_development-mob{
    display: none;
}


/* Information Area */

.information-area .ousada_development-title{
    text-align: center;
    margin-top: 3%;
    margin-bottom: 5%;
}
.information-area form{
    padding-left: 2%;
}

.information-area form .form-row{
    display: flex;
}

.information-area form .form-row .col{
    width: 50%;
    margin: 1% 0;
}

.information-area form .form-row .col .label{
    margin-bottom: 2%;
}

.information-area form .form-row .col .form-group label{
    width: 24%;
}
.information-area form .form-row .col .form-group input{
    color: rgb(107, 107, 107);
    width: 80%;
    height: 35px;
    font-size: 1.2rem;
    border: none;
    border-bottom: 1px solid black;
}

.information-area form .button{
    text-align: center;
    margin-top: 2%;
}

.information-area form .button button{
    background: var(--cor-default);
    color: #fff;
    font-size: 1.2rem;
    border: none;
    border-radius: .2rem;
    padding: .6% 3%;
    transform: translateX(-45px);
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

.information-area form .button button:active{
    transform: scale(.9)  translateX(-50px);
}

@media (max-width: 550px){
    sidebar .content-sidebar {
        width: 100% !important; 
    }
    sidebar .ousada_development-navbar nav ul li:nth-of-type(3) a svg{
        transform: translateY(-8px);
        width: 10%;
    }
    .information-area .ousada_development-title h2{
        font-size: 1.5rem;
        margin-bottom: 10%;
    }
    .information-area form .form-row{
        flex-wrap: wrap;
    }
    .information-area form .form-row .col{
        width: 100%;
        margin: 3% 0;
    }
    .information-area form .form-row .col .form-group {
        text-align: center;
    }
    .information-area form .form-row .col .label{
        text-align: center;
    }
    .information-area form .button {
        margin-bottom: 7%;
    }    
    .information-area form .button button{
        transform: translateX(0px);
        margin-top: 2%;
        padding: 2% 6%;
    }
}


/* ICONS EDIT */ 

actions{
    position: fixed;
    right: 3%;
    bottom: 3%;
    width: 10%;
    z-index: 20;
}
actions .ousada_actions-btn-icon{
    width: 40%;
    margin-left: auto;
    color: #fff;
    background: var(--cor-default);
    padding: 8% 8% 5%;
    border-radius: .5rem;
    cursor: pointer;
    box-shadow: 1px 1px 5px #6e6e6e;
    margin-bottom: 15%;
    transition: transform .3s ease-in-out;
}

actions .ousada_actions-btn-icon:active{
    transform: scale(.9);
}

actions .ousada_actions-btn-icon-edit svg{
    color: #fff;
}

.ousada_table-box-image, .list--mob-box-img{
    width: 90px !important;
}

@media (max-width: 550px){
    actions{
        width: 16%;
    }
    actions .ousada_actions-btn-icon{
        width: 90%;
        padding: 20% 20% 5%;
    }
}