body{
    margin: 0;
}

img{
    width: 100%;
    height: 100%;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 6;
    transition: var(--animation-sidebar);
}
.ousada_development-box{
    display: flex;
    background: #fff;
    border-bottom: var(--sombreado-borda);
}

.ousada_development-box .ousada_development-bloc:nth-of-type(1){
    width: 25%;
}
.ousada_development-box .ousada_development-bloc-logo{
    width: 65%;
    margin: 0 auto;
}


.ousada_development-box .ousada_development-bloc:nth-of-type(2){
    width: 10%;
}

.ousada_development-bloc-sidebar{
    width: 30%;
    cursor: pointer;
    transform: translateY(50%);
    margin: 0 auto;
}

.ousada_development-bloc-sidebar .ousada_development-bloc-sidebar-toggle svg{
    color: var(--cor-default);
}


.ousada_development-box .ousada_development-bloc:nth-of-type(3){
    width: 45%;
}

.ousada_development-box .ousada_development-bloc-search-input{
    width: 45%;
    margin-top: 5%;
    margin-left: auto;
}

.ousada_development-box .ousada_development-bloc-search-input input{
    height: 39px;
    width: 100%;
    font-size: 1.2rem;
    border: var(--sombreado-borda);
}

.ousada_development-box .ousada_development-bloc:nth-of-type(4){
    width: 20%;
}

.ousada_development-box .ousada_development-bloc-notify-icon{
    width: 14%;
    cursor: pointer;
    margin: 10% auto 0;
}
.ousada_development-box .ousada_development-bloc-notify-icon svg{
    color: var(--cor-default);
}
.ousada_development-box .ousada_development-bloc-notify-icon svg:hover{
    animation: sino .2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
.ousada_development-bloc-mob{
    display: none;
}


/* SIDEBAR */

sidebar{
    position: fixed;
    top: 0;
    width: 18rem;
    height: 100%;
    background: #fff;
    padding-right: 1%;
    border-right: var(--sombreado-borda);
    z-index: 2;
    transition: var(--animation-sidebar);
    overflow: hidden;
}

sidebar .content-sidebar{
    width: 270px;
}

sidebar .ousada_development-bloc{
    margin-top: 130px;
    margin-bottom: 70px;
    transition: var(--animation-sidebar);
}

sidebar .ousada_development-bloc-sidebar-toggle{
    display: none;
    transition: var(--animation-sidebar);
}

sidebar .ousada_development-navbar{
    margin-top: 80%;
}

sidebar .ousada_development-navbar nav ul{
    list-style: none;
    padding-left: 1rem;
    transition: var(--animation-sidebar);
}

sidebar .ousada_development-navbar nav ul li{
    margin-bottom: 10%;
    transition: var(--animation-sidebar);
}

sidebar .ousada_development-navbar nav ul li a{
    display: block;
    color: rgb(32, 32, 32);
    text-align: center;
    font-size: 1.1rem;
    cursor: pointer;
    padding: 5%;
    box-shadow: 0 0 3px;
    
}

sidebar .ousada_development-navbar nav ul li a:active{
    transform: scale(.9);
}

sidebar .ousada_development-navbar nav ul li:nth-of-type(3) a{
    font-size: 1rem;
}

sidebar .ousada_development-navbar nav ul li:nth-of-type(3) a svg{
    width: 11%;
}
sidebar .ousada_development-navbar nav ul li:nth-of-type(3)  a span{
    font-size: .9rem;
}

sidebar .ousada_development-navbar nav ul li a svg{
    width: 30px;
    color: var(--cor-default);
    float: left;
}

@keyframes sino{
    0%{
        transform: rotate(40deg);
    }100%{
        transform: rotate(-40deg);
    }
}

/* SIDEBAR EFFECTS */

sidebar.sidebar-active{
    width: 5rem;
    padding: 1%;
}

sidebar.sidebar-active .ousada_development-bloc{
    margin-bottom: 70px;
    margin-top: 130px;
}

sidebar.sidebar-active .ousada_development-bloc-sidebar{
    width: 35px;
}

sidebar.sidebar-active .ousada_development-bloc-sidebar-toggle{
    display: block;
}

sidebar.sidebar-active .ousada_development-navbar nav ul{   
    padding: 0;
}
sidebar.sidebar-active .ousada_development-navbar nav ul li{   
    margin-bottom: 50%;
}
sidebar.sidebar-active .ousada_development-navbar nav ul li a{
    color: #000;
}

sidebar.sidebar-active .ousada_development-navbar nav ul li:nth-of-type(1) a svg, sidebar.sidebar-active .ousada_development-navbar nav ul li:nth-of-type(2) a svg, sidebar.sidebar-active .ousada_development-navbar nav ul li:nth-of-type(4) a svg {   
    float: none;
    width: 40px;
}

sidebar.sidebar-active .ousada_development-navbar nav ul li:nth-of-type(3) a svg{   
    width: 28px;
    float: none;
}

sidebar.sidebar-active .ousada_development-navbar nav ul li a span{
    display: none;
}


sidebar.sidebar-active .content-sidebar{
    width: 55px;
}

.content-info.sidebar-active{
    width: 93%;
    margin-left: 90px;
}

header.sidebar-active .ousada_development-bloc-sidebar{
    visibility: hidden;
}