footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: 10;
}

.ousada-footer{
    margin-top: 5%;
}
.ousada-footer .ousada-footer-info{
    position: absolute;
    width: 100%;
    bottom: -22%;
    background: #fff;
    z-index: -1;
}

.modal-dialog{
    max-width: 600px
}

.modal .modal-content{
    width: 550px;
}
.modal .input-box label{
    font-weight: 700;
    margin-bottom: 0;
    line-height: 1;
    border-bottom: 1px solid;
}

.modal .input-box .form-input{
    margin: 3% 0;
}
.modal .input-box .form-input input[type="text"]{
    width: 100%;
    height: 40px;
    font-size: 1rem;
}

.modal .check-box label{
    font-weight: 700;
    border: 2px dashed;
    padding: 1% 4%;
}
.modal .check-box .forms-check{
    display: flex;
    justify-content: space-around;
    margin-top: 4%;
}

.modal .form-categ .form-check span strong{
    font-size: .7rem;
}
.modal .form-categ .form-check input{
    margin: 0 auto;
}

.modal form output#list{
    display: flex;
    flex-wrap: wrap;
}

.modal form output#list span{
    width: 25%;
}

.modal form output#list span img{
    object-fit: contain;
}

@media (max-width: 550px){
    footer .ousada-footer .ousada-footer-info{
        bottom: auto;
        padding: 0;
        left: 0;
    }
}