
@import url('https://fonts.cdnfonts.com/css/itc-avant-garde-gothic-std-book');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


*{
	font-family: 'ITC Avant Garde Gothic Std Book', sans-serif;
}


/* GLOBAL */ 

.info-box{
    display: flex;
}


svg{
    width: clamp(.5rem, 3vw, 3.2vh);
    height: clamp(.5rem, 3vh, 3.2vw);
    color: black;
}

.iti{
    width: 100%;
}