.editor .title h2{
    text-align: center;
}
.editor .input-box label{
    font-size: clamp(1rem, 1.5rem, 3vw) !important;
    margin: 0;
}
.editor .input-box input{
    width: 100%;
}
.editor .check-box label{
    padding: 1% 4%;
    border: 2px dashed;
    margin-bottom: 5%;
}
.editor .check-box .forms-check{
    display: flex;
    justify-content: center;
}
.editor .check-box .forms-check input{
    margin: 0 auto;
}
.editor .input-box [name="delIMG"]{
    width: 20px;
    height: 10px;
    margin: 3% 0;
}
.editor .imgBD img{
    width: 35%;
    height: 200px;
    object-fit: cover;
}
.editor .check-box:nth-of-type(3) .forms-check, .editor .check-box:nth-of-type(4) .forms-check{
    justify-content: space-around;
}
.editor .box-button{
    margin: 10% 0 3%;
    text-align: center;
}
.editor .box-button button{
    background: transparent;
    color: var(--cor-default);
    border: 1px solid var(--cor-default);
}
.editor .box-button a{
    background: var(--cor-default);
    color: #fff;
}