/* Background GLOBAL */


img{
  width: 100%;
}

* { box-sizing: border-box; }


.background-video .background-video-iframe{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.background-video .background-video-iframe iframe{
  width: 100%;
  height: 100%;
  transform: scale(1.3);
}



/*  SECTION MAIN */ 

.ousada_param{
  padding: 5% 0;
}

.ousada_content_box{
  background: #fff;
  width: 45%;
  margin: 0 auto;
  padding: 2% 3%;
  border-radius: 1rem;
}

.header-img{
  width: 32%;
}

.header-txt{
  text-align: center;
}

.header-txt h1{
  color: #840731;
  font-size: clamp(2rem, 2.5rem, 3.5vw);
   text-shadow: 1px 1px 1px rgb(145, 145, 145);
   margin: 2% 0;
}

.input-row{
  display: flex;
}
.input-row:only-child{
  width: 50%;
}
#password, #login{
  width: 100%;
}

.input-box label{
  font-size: clamp(.8rem, 1rem, 2vw) !important;
  line-height: 2.5;
  font-weight: 400;
}
.input-box input{
  height: 40px;
  font-size: 1.2rem;
  border: 2px solid #c7c7c75e;
  background: #ffffff;
}


.button-box {
  margin-top: 4%;
}
.button-box button{
  background-color: #840731;
  color: #fff;
  border: none;
  padding: 2% 4%;
  border-radius: .2rem;
  cursor: pointer;
  transition: transform .3s ease;
}
.button-box button:hover{
  transform: scale(1.1);
}

.forget_box-fields{
  text-align: center;
}

@media (max-width: 790px){
  .ousada_param{
    padding: 9% 0;
  }

  .ousada_content_box{
    width: 65%;
  }
  .background-video .background-video-iframe {
    height: 110%;
  }
}

@media (max-width: 550px){
  body{
    overflow: visible;
  }
  .ousada_param{
    padding: 22% 0;
  }
  .ousada_content_box{
    width: 100%;
  }
  .background-video {
    background: url('../../../../assets/img/background-mob.JPG') no-repeat center center scroll;
    background-size: cover;
  }
  .background-video .background-video-iframe {
    display: none;
  }

  .ousada_content_box{
    border-radius: 0;
  }
  .input-row{
    flex-wrap: wrap;
  }
  .input-box{
    width: 100% !important;
  }
}