
@import url('https://fonts.cdnfonts.com/css/itc-avant-garde-gothic-std-book');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


*{
	font-family: 'ITC Avant Garde Gothic Std Book', sans-serif;
}



/* HEADER */

*:focus {
    outline: none !important;
    border: none;
    box-shadow: 0 0 0 0;
}
textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 


:focus {
    outline: webkit-focus-ring-color 0px !important; 
    border: none;
}

input[type="checkbox" i]:focus, input[type="text" i]:focus {
    outline-offset: 0;
    border: none;
    outline: none;
}



/* SECTION MAIN */

.tbl-rgt {
    padding: 30px 0 !important;
}
.tbl-rgt table{
    margin-top: 60px;
    text-align: center;
}

.tbl-rgt table tr:hover td, .tbl-rgt table tr:hover td a{
    background-color:  #df185ac6;
    color: #fff;
}

.tbl-rgt table th{
    text-transform: uppercase;
    line-height: 3;
}

.tbl-rgt table td, .tbl-rgt table th{
    padding: 5px 5px 5px 10px;
}

tr:nth-child(even) {
    background-color: #ffacac;
    color: #fff;
  }
  
  tr:nth-child(even) a{
      color: #fff !important;
  }

  tr:nth-child(even) button{
    color: #fff !important;
}

  /* Btn Galery */ 

  td button{
    background-color: transparent;
    border:none;
    outline-style: none !important;
    color: #ff0e66c9;
}


tr:hover td button{
    color:  #fff;
}

/* GALERY  */ 
div[data-img]{
    position: absolute;
    right: 1vw;
    display: flex;
    background-color: rgba(255, 255, 255, 0.815);
    padding: 1vh 0 1vh 0 ;
    border-radius: 5px;
    transform: translateY(calc(-100% - 7vh));
}

div[data-img] img{
    width: 8vw !important;
    height: 20vh !important;
    margin: 0 .2vw;
}

  /* Btn remove */ 

  .tbl-rgt td a{
      color: #ff0e66c9;
  }


  /* btn's */

.form-btn{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 15;
}
.form-btn2 {
    position: fixed;
    bottom: 70px;
    right: 10px;
    z-index: 5;
}

.form-btn2 a svg{
    width: 25px;
}

.form-btn2 a{
    width: 5px;
    border-radius: 100%;
    padding: 12px 9px;
    border: none;
    background-color: #840731;
    border: 2px solid  #840731;
    outline: none;
    transition: background-color 0.5s, border 0.5s;
}

.form-btn button{
    border-radius: 100%;
    height: 44px;
    width: 44px;
    padding: 0;
    border: none;
    background-color: #840731;
    border: 2px solid  #840731;
    outline: none;
    transition: background-color 0.5s, border 0.5s;
}

.form-btn button:hover, .form-btn2 a:hover{
    background-color: #fff;
    border: 2px solid  #fff;
}
.form-btn2 a:hover{
    background-color: #fff;
    border: 2px solid  #840731;
}

.form-btn button:focus{
    border: none;
    outline: none;
}

.form-btn button svg, .form-btn2 a svg {
    color:#fff;
    outline: none;
    transition: color 0.5s;
}
.form-btn button svg:hover, .form-btn2 a:hover svg{
    color: #840731;
}


/* Filter */ 
.search-bar{
    position: fixed;
    width: 30%;
    top: 0;
    text-align: center;
    background-color: #F6F6F6;
    font-size: 1.5rem;
    padding: 1% 2%;
    border-radius: 0px 0px 10px 10px;
    z-index: 5;
}


.search-bar::after{
    content: ' ';
    background: url(http://modaousada.com/img/lupa.png) no-repeat center center;
    background-size: 40px;
    width: 100%;
    height: 40px;
    display: block;
    position: absolute;
    transform: translate(35%, -120%);
    z-index: -1;
}

.filter{
    margin-right: 5%;
}


/* Animation */

.rot-it{
    animation: rotAni 0.5s;
    animation-fill-mode: forwards;
}
.rot-it-inverse{
    animation: rotAniInverse 0.5s;
    animation-fill-mode: forwards;
}

@keyframes rotAni{

    from{
        transform: rotate(0deg) 0.5s;
    }
    to{
        transform: rotate(50deg) 
    }
}
@keyframes rotAniInverse{

    from{
        transform: rotate(70deg) 0.5s;
    }
    to{
        transform: rotate(90deg) 
    }
}

