@media(min-width: 1500px){

    header .box-button a {
        padding: 1.5vh 2vw;
    }

    header .navbar li a{
    font-size: 1.2rem;
    }
    
    main .layer .box-button a svg{
        transform: translate(1rem,.8vh);
    }

}

@media(min-width: 451px){
    .navbar-toggle button{
        display: none;
    }
}

@media(max-width: 450px){
   
    /* TO TOP HEADER */ 
    
    header .box-text span{
        font-size: clamp(.3rem, 1.2rem, 2vw);
        line-height: 3;
    }

    header .box-icon {
        margin-right: 1.3vw;
    }

    header .box-icon svg{
        width: clamp(1rem, 2rem, 3vw);
    }

   /* TOGGLE NAVBAR MENU */ 
   
    header .box-button{
        display: none;
    }

    nav button{
        padding: 1vh 2vw;
        border-radius: 5px;
    }

    nav button, nav button:focus{
        outline-style: none;
    }

    .el1, .el2, .el3 {
        width: clamp(8vw, 8.5vw, 9.5vh);
        height: .7vh;
        display: block !important;
        color: #fff;
        background-color: rgb(255, 255, 255);
        margin: 6px 0;
        transition: 0.4s;
    }
      
    .change .el1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
      
    .change .el2 {
        opacity: 0;
    }
      
    .change .el3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }


    /* Menu */ 

    .navbar{
        display: none !important;
        width: 100.5vw;
        position: absolute !important;
        top: 5.9vh;
        transform: translateX(-75%);
        background-color: rgb(255, 255, 255);
        z-index: 10;
        text-align: center;
    }

    .show-me{
        display: block !important;
        opacity: 0;
        animation: show .5s;
        animation-fill-mode: forwards;
    }

    .no-show{
        display: block !important;
        opacity: 1;
        animation: noshow .5s;
        animation-fill-mode: forwards;
    }

    @keyframes show{
        from{
            opacity: 0;
        }to{
            opacity: 1;
        }
    }

    @keyframes noshow{
        from{
            opacity: 1;
        }to{
            opacity: 0;
        }
    }


    .navbar li{
        padding: 1.5vh 0;
        border-bottom: 2px solid rgba(2, 2, 2, 0.089);
    }

    .navbar li:last-child{
        border: none;
    }

    .navbar li a{
        font-size: clamp(1.5rem, 2rem, 6vw)
    }


    .navbar li:hover {
        color: #fff;
        background-color: #840731;
    }

    .navbar li:hover a{
        color:  #fff;
        border-bottom: none;
    }


    /* SECTION MAIN */ 

    .layer .box-text h1{
        font-size: clamp(2.5rem, 2rem, 4vw);
    }

    .layer .box-button{
        width: 50vw;
    }

    .layer .box-button a{
        font-size: clamp(.6rem, 1rem, 2vw) !important;
        padding: 2vh 3vw !important;
    }


    /* SECOND SECTION */ 

    .to-carousel-produtcs  h2{
        font-size: clamp(.8rem, 2rem, 4vw) !important;
    }


    /* PRODUCT SECTION */ 

    .to-product-header .title{
        font-size: clamp(1.2rem, 2rem ,3vw) !important;
       
    }

    .box-categ{
        width: 33%;
    }

    .box-categ .info-box {
        padding: 1vh 2vw !important;
        margin: 0 2vw;
    }

    .box-categ .info-box .box-icon svg{
        width: clamp(5vw, 8vw, 10vh);

    }

    .box-categ .info-box .box-text span{
        font-size: clamp(.7rem, 1.2rem, 2vw);

    }

    /* FOURTH SECTION */ 

    .to-campaign h1{
        font-size: clamp(1rem, 3rem, 5vw) !important;
    }

    .to-campaign .box-text p{
        font-size: 1rem !important; 
    }

    .to-left {
        width: 70%;
    }

    .to-left  a{
        font-size: clamp(.6rem, 1rem, 1.5vw) !important;
        padding-right: 0 !important;
    }

    .to-left .button{
        padding: 1vh 2vw;
    }


    /* ASIDE */ 
    aside .box-title h5{
        font-size: clamp(1.5rem, 2rem, 4vw) !important;
        margin: 2vh 0;
    } 


    .base-II .box-text p{
        font-size: .8rem;
    }

    .newslatter .box-text p{
        font-size: clamp(.8rem, 1rem, 1.5vw);
    }

    .newslatter button{
        font-size: clamp(.5rem, 1rem, 3vw);
    }

    .newslatter .icon-social{
        margin: 2vh 0 !important;
    }

    .newslatter SVG{
        width: 10vw;
        height: 10vh;
    }

    /* FOOTER */ 
    .box-text p{
        font-size: clamp(.2rem, .3rem, .6vw);
    }



    /* CART */ 
    .cart {
        width: 100%;
        bottom: 0;
        right: 0vw !important;
    }

    
    .slide-hidden{
        animation:  slideHidden .7s;
        animation-fill-mode: forwards;
    }
    .slide-show{
        animation:  slideShow .7s;
        animation-fill-mode: forwards;

    }

}



/**
=========================================================
=========================================================
**/



@media(min-width: 1500px){
    /* CART */ 

    @keyframes slideHidden{
        from{
            height: 500px;
        }
        to{
            height: 50px;
        }
    }
    @keyframes slideShow{
        from{
            height: 50px;
        }
        to{
            height: 500px;
        }
    }
}
@media(max-width: 1549px){

    @keyframes slideHidden{
        from{
            height: 500px;
        }
        to{
            height: 50px;
        }
    }
    @keyframes slideShow{
        from{
            height: 50px;
        }
        to{
            height: 500px;
        }
    }
}

@media(max-width: 1385px) and (min-width: 1025px){

    @keyframes slideHidden{
        from{
            height: 10vw;
        }
        to{
            height: 3.9vw;
        }
    }
    @keyframes slideShow{
        from{
            height: 3.9;
        }
        to{
            height: 35vw;
        }
    }

}

@media(max-width: 768px){
    header .box-logo{
        width: 100%;
    }
    header .box-logo img{
        margin: 0%;
    }
}

@media(min-width: 451px){

    .navbar-toggle button{
        display: none;
    }
}

@media(max-width: 450px){
   
    /* TO TOP HEADER */ 
    
    header .box-text span{
        font-size: clamp(.3rem, 1.2rem, 2vw);
        line-height: 3;
    }

    header .box-icon {
        margin-right: 1.3vw;
    }

    header .box-icon svg{
        width: clamp(1rem, 2rem, 3vw);
    }

   /* TOGGLE NAVBAR MENU */ 
   
    header .box-button{
        display: none;
    }

    nav button{
        padding: 1vh 2vw;
        border-radius: 5px;
    }

    nav button, nav button:focus{
        outline-style: none;
    }

    .el1, .el2, .el3 {
        width: clamp(8vw, 8.5vw, 9.5vh);
        height: .7vh;
        display: block !important;
        color: #fff;
        background-color: rgb(255, 255, 255);
        margin: 6px 0;
        transition: 0.4s;
    }
      
    .change .el1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
      
    .change .el2 {
        opacity: 0;
    }
      
    .change .el3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }


    /* Menu */ 

    .navbar{
        display: none !important;
       width: 100.5vw;
        position: absolute !important;
        top: 5.9vh;
        transform: translateX(-75%);
        background-color: rgb(255, 255, 255);
        z-index: 10;
        text-align: center;
    }

    .show-me{
        display: block !important;
        opacity: 0;
        animation: show .5s;
        animation-fill-mode: forwards;
    }

    .no-show{
        display: block !important;
        opacity: 1;
        animation: noshow .5s;
        animation-fill-mode: forwards;
    }

    @keyframes show{
        from{
            opacity: 0;
        }to{
            opacity: 1;
        }
    }

    @keyframes noshow{
        from{
            opacity: 1;
        }to{
            opacity: 0;
        }
    }


    .navbar li{
        padding: 1.5vh 0;
        border-bottom: 2px solid rgba(2, 2, 2, 0.089);
    }

    .navbar li:last-child{
        border: none;
    }

    .navbar li a{
        font-size: clamp(1.5rem, 2rem, 6vw)
    }


    .navbar li:hover {
        color: #fff;
        background-color: #840731;
    }

    .navbar li:hover a{
        color:  #fff;
        border-bottom: none;
    }


    /* SECTION MAIN */ 

    .layer .box-text h1{
        font-size: clamp(2.5rem, 2rem, 4vw);
    }

    .layer .box-button{
        width: 50vw;
    }

    .layer .box-button a{
        font-size: clamp(.6rem, 1rem, 2vw) !important;
        padding: 2vh 3vw !important;
    }


    /* SECOND SECTION */ 

    .to-carousel-produtcs  h2{
        font-size: clamp(.8rem, 2rem, 4vw) !important;
    }


    /* PRODUCT SECTION */ 

    .to-product-header .title{
        font-size: clamp(1.2rem, 2rem ,3vw) !important;
       
    }


    .box-categ .info-box {
        padding: 1vh .5vw;
        margin: 0 2vw;
    }

    .box-categ .info-box .box-icon svg{
        width: clamp(5vw, 8vw, 10vh);

    }

    .box-categ .info-box .box-text span{
        font-size: clamp(.7rem, 1.2rem, 2vw);

    }

    /* FOURTH SECTION */ 

    .to-campaign h1{
        font-size: clamp(1rem, 3rem, 5vw) !important;
    }

    .to-campaign .box-text p{
        font-size: clamp(.4rem, .6rem, 1vw);
    }

    .to-left {
        width: 70%;
    }

    .to-left  a{
        font-size: clamp(.6rem, 1rem, 1.5vw) !important;
        padding-right: 0 !important;
    }


    /* ASIDE */ 
    aside .box-title h5{
        font-size: clamp(1.5rem, 2rem, 4vw) !important;
        margin: 2vh 0;
    } 


    .base-II .box-text p{
        font-size: .8rem;
    }

    .newslatter .box-text p{
        font-size: clamp(.8rem, 1rem, 1.5vw);
    }

    .newslatter button{
        font-size: clamp(.5rem, 1rem, 3vw);
    }

    .newslatter .icon-social{
        margin: 2vh 0 !important;
    }

    .newslatter SVG{
        width: 10vw;
        height: 10vh;
    }

    /* FOOTER */ 
    .box-text p{
        font-size: clamp(.2rem, .3rem, .6vw);
    }



    /* CART */ 
    .cart {
        width: 100%;
        bottom: 0;
        right: 0vw !important;
    }

    
    .slide-hidden{
        animation:  slideHidden .7s;
        animation-fill-mode: forwards;
    }
    .slide-show{
        animation:  slideShow .7s;
        animation-fill-mode: forwards;

    }
}
