
/* CART */

.cart{
    position: fixed;
    width: 450px;
    bottom:0; 
    right: 2vw;
    background-color: #fcfafb;
    border-radius: 10px 10px 0 0;
    z-index: 9999;
}

.cart .box-header{
    text-align: center;
    background-color: #BD134C;
    cursor: pointer;
}

.cart .box-header h6{
    font-size:  2rem;
    color: #fff;
}
.cart-content{
    max-height: 0;
    transition: all .5s ease;
}

.info-table{
    border: 2px solid #840731;
    border-radius: 5px;
    height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}

thead tr{
    background-color: #e6e6e6;
    
}

thead tr td{

}

tr:nth-child(even) {
    background-color:  #d6d6d6;
    color: #fff;
  }
  

.info-table th{
    padding: 1vh 1vw;
    text-align: center;
    width: 80px;
}

.info-table td{
    text-align: center;
    padding: 1vh 1vw;
}

.info-table td:first-child{
    width: 10%;
}



.info-table td input{
    width: 2vw;
    text-align: center;
    border-radius: 5px;
    border: none;
}

input[data-order]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[data-order] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

.info-table .calc{
    font-size: 0;
    height: 15px;
    padding: 1px 8px 2px 3px;
    border-bottom: 1px solid #840731;
    border-left: 1px solid #840731;
    cursor: pointer;
}

.info-table .calc:nth-of-type(1){
    background: url(../img/svg/plus-solid.svg) no-repeat center center;
    background-size: 7px;
}

.info-table .calc:nth-of-type(2){
    background: url(../img/svg//minus-solid.svg) no-repeat center center;
    background-size: 7px;
}


.info-table td .del{
    font-size: 1.2rem;
    background-color: #840731;
    color: #fff;
    padding: 0vh .5vw;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid transparent;
}
.info-table td .del:hover{
    border: 2px solid #000000;
    background-color: #fff;
    color: #000000;
}

.box-result{
    display: flex;
}

.box-result p{
    margin-bottom: 0 !important;
    font-size: .9rem;
}

.box-values{
    margin: 0 0 0 auto;
}

.box-send .box-text{
    text-align: center;
    font-size: .7rem;
    line-height: 1.5;
}

.box-send .box-button a{
    margin-top: 0 !important;
    background-color: #840731;
}
.box-send .box-button a:hover{
    margin-top: 0 !important;
    background-color: transparent;
}


.box-send a{
    padding: 1.5vh 1.5vw 1.5vh .5vw  !important;
    border-radius: 5px;
    border: 2px solid #840731 !important;
}


.box-send svg, .box-send a{
    color: #fff !important;
    transition: color .5s !important; 
    cursor: pointer;
}

.box-send .box-button a:hover, .box-send .box-button a:hover svg{
    color:#840731  !important;
    background-color: transparent;
}




/* CART Effects */ 


.slide-hidden{
    animation:  slideHidden .7s;
    animation-fill-mode: forwards;
}
.slide-show{
    animation:  slideShow .7s;
    animation-fill-mode: forwards;

}

@keyframes slideHidden{
    from{
        height: 76%;
        bottom: 0;
    }
    to{
        height: 8%;
        bottom: 30px; 
    }
}
@keyframes slideShow{
    from{
        height: 8%;
    }
    to{
        height: 76%;
    }
}

